<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>
		<title>About Me</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg py-2 px-lg-5 py-lg-0">
			<a href="index.html" class="navbar-brand ml-lg-3">
				<h1>DrkGaphar</h1>
			</a>
			<div class="navbar-nav px-lg-3 m-auto">
				<a href="index.html" class="nav-item nav-link">HOME</a>
				<a href="about.html" class="nav-item nav-link">ABOUT ME</a>
				<a href="contact.html" class="nav-item nav-link">CONTACT ME</a>
			</div>
		</nav>
		<div class="container py-5">
			<div class="about-text">
				<h1 class="text-title">About <span>Me</span></h1>
				<p>
					I am a Full-Stack Developer Intern with experience in HTML,
					CSS, JavaScript for the Front-End, and NodeJs and PostgreSQL
					for the Back-End. I'm presently developing an Express Todo
					App using Node.js and PostgreSQL on a Restful API as my
					first Back-End project. I strive hard to provide the finest
					outcome possible in any assignment I take on since I have a
					creative mindset.
				</p>

				<div id="skills" class="others-contents">
					<div class="skill format">HTML</div>
					<div class="skill">CSS</div>
					<div class="skill format">JavaScript</div>
					<div class="skill">GIT</div>
					<div class="skill format">Github</div>
					<div class="skill">Linux Terminal</div>
					<div class="skill format">NodeJs</div>
					<div class="skill">SQL</div>
				</div>
			</div>
		</div>
	</body>
</html>
