<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>
		<script
			src="https://kit.fontawesome.com/6d72e2d990.js"
			crossorigin="anonymous"
		></script>
		<title>Contact Me</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg py-2 px-lg-5 py-lg-0">
			<a href="index.html" class="navbar-brand ml-lg-3">
				<h1>DrkGaphar</h1>
			</a>
			<div class="navbar-nav px-lg-3 m-auto">
				<a href="index.html" class="nav-item nav-link">HOME</a>
				<a href="about.html" class="nav-item nav-link">ABOUT ME</a>
				<a href="contact.html" class="nav-item nav-link">CONTACT ME</a>
			</div>
		</nav>

		<section id="contact">
			<div class="container py-5">
				<h1 class="text-title">Contact Me</h1>
				<p>
					<i class="fa-solid fa-envelope"></i>
					jerrywizklay1@gmail.com
				</p>
				<p><i class="fa-solid fa-phone"></i> +2347050325693</p>
				<div class="media-icons">
					<a
						href="https://www.facebook.com/JERRYWIZKLAY"
						target="_blank"
						><i class="fa-brands fa-facebook"></i
					></a>
					<a href="https://twitter.com/DrkGaphar" target="_blank"
						><i class="fa-brands fa-twitter"></i
					></a>
					<a
						href="https://www.linkedin.com/in/shittu-abiodun/"
						target="_blank"
						><i class="fa-brands fa-linkedin"></i
					></a>
					<a
						href="https://www.instagram.com/drkgaphar/"
						target="_blank"
						><i class="fa-brands fa-instagram"></i
					></a>
				</div>
			</div>
		</section>
	</body>
</html>
